.currency-input {
	width: 100%;
	margin: 20px auto;
	font-weight: 800;
	white-space: nowrap;
	display: flex;
}

.currency-input span {
	height: 18px;
	background: white;
	font-size: 15px;
	padding: 9px 15px;
	border: 2px solid #AAB8C8;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-right: none;
	vertical-align:text-top;
}

.currency-input input {
	padding: 9px;
	font-size: 15px;
	border: 2px solid #AAB8C8;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	letter-spacing: 1px;
	width: 100%;
	vertical-align:text-top;
	margin: 0px;
}

.currency-input :focus {
	outline: none;
	border: 2px solid #00b2ff;
}

.currency-input .default-value input {
	color: #00b2ff;
}
